.myPost {
    font-family: serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: medium;
    line-height: 100%;
    word-spacing: normal;
    letter-spacing: normal;
    text-decoration: none;
    text-transform: none;
    text-align: justify;
    text-indent: 0ex;
    padding: 10px;
}

.myPost img {
    width: 50px;
    height: 50px;
    border-radius: 35px;
    padding: 10px;
}