.nav {
    grid-area: nav;
    background-color: rgb(231, 213, 195);
    padding: 20px;
}

.friend {
    display: inline-flex;
    font-family: fantasy;
    font-style: italic;
    font-variant: small-caps;
    font-weight: normal;
    font-size: medium;
    line-height: 100%;
    word-spacing: normal;
    letter-spacing: normal;
    text-decoration: none;
    text-transform: none;
    text-align: justify;
    text-indent: 0ex;
    color: #606263;
}

.item {
    font-family: fantasy;
    font-style: italic;
    font-variant: small-caps;
    font-weight: normal;
    font-size: medium;
    line-height: 100%;
    word-spacing: normal;
    letter-spacing: normal;
    text-decoration: none;
    text-transform: none;
    text-align: justify;
    text-indent: 0ex;
    color: #606263;
}

.item.active {
    color: #377c99;
}